.fade-enter {
  opacity: 0.01;
  height: 0;
  transform: translateX(-4%);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  height: 22px;
  transform: translateX(0);
  transition: height 0.2s, transform 0.1s 0.1s ease-in, opacity 0.1s 0.1s ease-in;
}

.fade-exit {
  opacity: 1;
  height: 22px;
  transform: translateX(0)
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  height: 0;
  transform: translateX(-4%);
  margin: 0;
  transition: opacity 0.1s ease-in, transform 0.1s ease-in, height 0.3s 0.1s, margin 0.3s 0.1s;
}
